body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}
h1{
    font-size: 50px;
    margin-left: 5%;
}
#jim{
    color: rgb(230, 169, 2);
}
.para{
    margin-left: 5%;
    margin-right: 30%;
    text-align: justify;
    font-weight: lighter;
}
.s_head{
    margin-left: 5%;
}
section{
    display: flex;
    margin-bottom: 8%;
}
.width{
    width: 50%;
    
}
.width img{
    width: 75%;
    margin-top: 5%;
}
.button{
    margin-left: 8%;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}