body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin-left: 5%;
}
#jim{
    color: rgb(230, 169, 2);
}
.para{
    margin-left: 5%;
    margin-right: 30%;
    text-align: justify;
    font-weight: lighter;
}
.s_head{
    margin-left: 5%;
}
section{
    display: flex;
}
.width{
    width: 50%;
    margin-left: 2%;
}
.width img{
    width: 75%;
    margin-top: 5%;
}
#button{
    margin-left: 8%;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
}